<%= form_with(model: invoice_photo, local: true) do |form| %>
  <% if invoice_photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice_photo.errors.count, "error") %> prohibited this invoice_photo from being saved:</h2>

      <ul>
      <% invoice_photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
